{% extends "base.html" %}
{% block content %}
<h2>Lista de Citas</h2>

{% if citas %}
<table border="1" cellpadding="5">
  <tr>
    <th>Día</th>
    <th>Hora</th>
    <th>Clínica</th>
    <th>Paciente</th>
    <th>Alumno</th>
    <th>Notas</th>
  </tr>
  {% for c in citas %}
  <tr>
    <td>{{ c.dia }}</td>
    <td>{{ c.hora_inicio }} - {{ c.hora_fin }}</td>
    <td>{{ c.clinica }}</td>
    <td>{{ c.paciente.nombre }}</td>
    <td>{{ c.alumno.nombre }}</td>
    <td>{{ c.notas }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No hay citas registradas.</p>
{% endif %}
{% endblock %}
 
