{% extends "base.html" %}
{% block content %}
<h3 class="fw-bold">Nueva cita</h3>

<div class="card shadow-sm p-4">
    <form method="post">
        <!-- Paciente -->
        <div class="mb-3">
            <label class="fw-bold">Paciente *</label>
            <select name="paciente" class="form-select" required>
                <option selected disabled>Selecciona un paciente</option>
                {% for p in pacientes %}
                <option>{{ p }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Clínica -->
        <div class="mb-3">
            <label class="fw-bold">Clínica *</label>
            <select id="clinica" name="clinica" class="form-select" required onchange="actualizarHorarios()">
                <option selected disabled>Selecciona una clínica</option>
                {% for c in clinicas %}
                <option>{{ c }}</option>
                {% endfor %}
            </select>
            <small class="text-muted">La clínica solo atiende ciertos días.</small>
        </div>

        <!-- Fecha -->
        <div class="mb-3">
            <label class="fw-bold">Fecha *</label>
            <input type="date" name="fecha" class="form-control" required>
            <small class="text-muted">Solo se permiten días válidos según la clínica seleccionada.</small>
        </div>

        <!-- Horario -->
        <div class="mb-3">
            <label class="fw-bold">Horario *</label>
            <select id="horario" name="horario" class="form-select" required>
                <option selected disabled>Selecciona un horario</option>
            </select>
        </div>

        <!-- Atendido por -->
        <div class="mb-3">
            <label class="fw-bold">Atendido por *</label>
            <select name="atendido_por" class="form-select" required>
                <option selected disabled>Selecciona</option>
                <option>Luis</option>
                <option>Angie</option>
            </select>
        </div>

        <!-- Notas -->
        <div class="mb-3">
            <label class="fw-bold">Notas</label>
            <textarea name="notas" class="form-control" rows="3"></textarea>
        </div>

        <button class="btn btn-primary w-100">Agendar cita</button>
    </form>
</div>

<script>
    const horarios = {{ horarios | tojson }};
    function actualizarHorarios() {
        const clinicaSeleccionada = document.getElementById("clinica").value;
        const selectHorario = document.getElementById("horario");
        selectHorario.innerHTML = '<option selected disabled>Selecciona un horario</option>';
        const dias = horarios[clinicaSeleccionada];
        for (const dia in dias) {
            const opt = document.createElement("option");
            opt.textContent = dia + " " + dias[dia];
            selectHorario.appendChild(opt);
        }
    }
</script>
{% endblock %}
